[bumpversion]
current_version = '{{cookiecutter.version}}'
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:setup.cfg]
search = version = {current_version}
replace = version = {new_version}
